
* {
    box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	background-color: #0652DD;
	color: white;
}

.draw-box {
	max-width: 550px;
	min-height: 400px;
	background-color: white;
	padding: 10px 26px;
	margin: 10px auto;
	border-radius: 5px;  
}

.instruction {
	color: #0652DD;
	margin-bottom: 10px;
}

.line-box {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: fit-content;
	justify-content: center;
	margin: auto;
}

.line-span {
	height: 0;
	width: 0;
	display: inline-block;
	position: relative;
	padding: 0;
}
.line {
	height: 0;
	width: 0;
	display: inline-block;
	position: absolute;
	z-index: 1;
}
.triangle .line-1 {
	border-top: 4px solid #0652DD;
	transform: rotate(-45deg);
	transform-origin: 0% 0%;
	top: 100%;
}
.triangle .line-2 {
	transform-origin: 0% 0%;
	transform: rotate(45deg);
	border-top: 4px solid #0652DD;
}
.triangle .line-box-3 {
	position: absolute;
	bottom: 0%;
	border-top: 4px solid #0652DD;
	left: 50%;
	transform: translateX(-50%);
}
.square .line-1 {
	border-top: 4px solid #0652DD;
	transform: rotate(-45deg);
	transform-origin: 0% 0%;
	top: 100%;
}
.square .line-2 {
	transform-origin: 0% 0%;
	transform: rotate(45deg);
	border-top: 4px solid #0652DD;
}
.square .line-box-3 {
	position: absolute;
	bottom: 0%;
	border-top: 4px solid #0652DD;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 105%;
	color: white;
}
  
p {
	text-align: center;
	font-size: 1.6em;
}
  
.btn-box {	  
	margin: auto;
	text-align: center;
}

button {
	display: inline-block;
	margin: 10px auto;
	padding: 10px 15px;
	border-radius: 5px;
	border: 0;
	font-size: 1.4em;
	background-color: white;
	cursor: pointer;
}
  
.congrats {
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
	color: #FFC312;
}
  
.winner {
	background-image: url(https://cdn.glitch.com/fe55c52b-f859-4f17-a4c6-1af45426e959%2F6ob.gif?v=1620494080396);
}
  
  